/*Página Inicial antes do usuário logar - ClubeLiterárioProjetoFinal.php*/
/*Header*/



.shadowp-3mb-5bg-body-tertiaryrounded {height:250px;
     width:1900px}

a {font-family: 'Noto Serif Ahom',serif;
   text-decoration: none}

#aqui{color:#e7b74f}

#aqui:hover {text-decoration: underline;}

.bodyHome {background-image: url(./images/Background.png);
      background-repeat: no-repeat;
      background-size: 2000px 1000px;

      
}
.bodyHome {
     background-color: #5a4d74
}
.cardtext-bg-primarymb-3 {
  width: 18rem;
  background-color: aliceblue;
}

hr{
     min-width: 20%;
     max-width: 50%;
}


/*Quem somos*/


.quicksand-regular {
     font-family: "Quicksand", sans-serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: bold;
     color:#ddcd8b;
     text-shadow:  1px 1px #d4a64f;
     text-align: center;
   }
.quicksand-regular2 {
     font-family: "Quicksand", sans-serif;
     font-optical-sizing: auto;
     font-weight: 300;
     font-style: normal;
     color:aliceblue;
     margin: auto;
     text-align: center

   }

  /*Div de como usar*/ 

#divComoUsar {background-color: #d4a64f;
          }
#printInsc {
     min-width: 20%;
     min-height: 25%;
     max-width: 30%;
     min-height: 35%;
     padding-left: 30px;
 
     
}

#linhaComoUsar {
     color:#341035;
     float:left
}

/*imagem flutuante da biblioteca*/
#x11 {float:right;
      height: 25%;
      width: 25%;
      border: 3px double;
      border-radius: 80%; 
      border-color: #57245b;  }

/*para alinhar o texto à esquerda*/
/*Texto na primeira div (quem somos e o que o site pode fornecer)*/
#x10 {text-align: justify;
      }
/*Texto dos tópicos*/
#x12 {text-align: justify;
     font-size: 22px
      }
/*Texto da segunda div (como usar)*/
#x13 {color: #875396;
      text-shadow: 1px 1px #471b53;
      text-align: justify;}
/*Fim de "para alinhar o texto á esquerda*/
/*Div a ser mostrada quando apertar no link de entrar*/
#x7 {min-height: 460px;
     min-width: 350px;
     max-height: 460px;
     max-width: 350px;
     background-color:#57245b;
     margin: auto;
     text-align: center;
     border-radius: 25px;
     display: none;
     }

#x7:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

#Entrar {padding-right: 30px;
        }
/*Página de se inscrever*/
/*body*/

.bodyInsc {background-color: #57245b;}

.Insc {margin:auto;
text-align:center ;} 


/*B0tão para se inscrever com x*/
#x3{margin-left: 10px;
     }

/*B0tão para se inscrever com x*/

#x4 {margin-left: 10px;
}

/*Página home*/

/*Menu.png*/ 
#x2 {height:20px;
     width:20px}

     /*Parte do catálogo de livros da página home*/
     /*Div onde está escrito "livros"8*/
     #divLiv {
          height: 10%;
          width: 100%;
          background-color: #775e7e;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border-radius: 30px;
     }
     #x6 {
          height: 40%;
          width: 20%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
     }
     #x6:hover {border: 2px solid rgba(221, 185, 23, 0.801); }

     #divLivros {background-color: #1f0d24;}
     #TamanhoFilt{
          font-size: 18px;
     }
     #cardLivro {
          background-color: #471b53;
          border-radius: 20px;
     }

     #fotoLivro {
          border-radius: 20px
     }
     #cardLivro:hover { border: 2px solid rgba(221, 185, 23, 0.801); }

/*Nav lateral a partir do click no menu*/
#mySidenav {background-color: #d4a64f;
     height: 100%;
     width: 0px;
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0px;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
     font-size: 20px;
     text-align: center;
     text-decoration: none}

#fechar {
     height: 40px;
     width:40px
}

#BotaoPesquisa {
     height: 30px;
     width: 30px
}

#ProfilePicNav {
     width:60px;
     height:60px
}

/*Configuração carrossel imagem*/
.bodyRoxo{ background-color: #472252;}

/*Página de um livro específica que foi clicado no home*/

#x14 {height: 30%;
     width: 25%;
     box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
     
#x14:hover { border: 2px solid rgba(221, 185, 23, 0.801);  }


/*Descrição do livro e avaliações*/
#x17 {
     text-align:justify
}

#x19 {
     text-align: justify;
     padding-left: 15%;
     
}

 /*Página de leitura do livro*/
/*Página de Perfil*/
#mySidenav2 {background-color: #341035;
     height: 100%;
     width: 0px;
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0px;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
     font-size: 20px;
     text-align: center;}

.bodyPP {
     background-color: #4b1b4d;
}

.HeaderUser {
     width: 100%;
     height: 300px;
     background-color: #e7c695;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ProfilePic1 {
     border-radius: 50%;
}
#ProfilePic2 {
     border-radius: 50%;
     border: #100613;
     border-width: 2px;
     width: 30%;
     height: 30%;
     margin-top: 10px;
     margin-bottom: 5px;
     margin-left: 20px
}

#cardHeaderProfile {
     border-radius: 10px;
}
#Titulos:hover{text-decoration: underline;}

#headerUserUp{
     height: 100%;
     width: 100%
}
#headerUserUp:hover { border: 2px solid rgba(139, 106, 155, 0.801);  }

#ProfilePic2:hover { border: 2px solid rgba(139, 106, 155, 0.801);  }

.card-link {
     font-family: 'quicksand', sans-serif;
     color:#f3e0f8
}

#contLendo {
     border-radius: 30px;
     margin-right:40%
}

#contLendo:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}


/*Página em qe o usuário irá ler*/

#pdf{ width:800px ;
      height:1000px;
      margin-left: 550px;
}

/*Pagina editar perfil*/
#cardEdPerfil {
     background-color: #4c1757;
     padding-bottom: 100px;
}
/*Footer*/
footer {
     background-color: #1f0d24;
     border: 10px solid #59465f;
}

#iconRedes{
     height:25px;
     width: 25px
}

/*Página de avaliações / continuar lendo*/
.bodyAv{
     background-color:#4c1757
}

#DivAv {
     border: 1px solid #59465f;
}

/*Ferramentas Adm*/

#btn-group button {
          align-items: center;
          background-color: #70497c; /* Green background */
          border: 1px solid #341035; /* Green border */
          color: rgb(224, 201, 125); /* White text */
          padding: 10px 24px; /* Some padding */
          cursor: pointer; /* Pointer/hand icon */
          border-radius: 5px;
          
        }
#btn-group button:hover {
          background-color: #4e1c4e;
          color:#fff
        }

#btn-group {
     margin-left: 20%;
}

#divCads {background-color: #1f0d24;
          border-radius: 20px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
/*Página de cadastro de Livros*/
/*Div a ser mostrada quando o adm apertar para cadastrar livros*/


#CadastroLivros {
     padding-right: 30px;
}

/*Div a ser mostrada quando o adm apertar para alterar livros*/


#AlterarLivro {
     padding-right: 30px;
}

/*botão de pesquisa de filtros*/
#pesquisaFiltros {
     flex: 0 0 auto;
    width: 16.66666667%;
    
}
